<p class="visual-step-title after-point {% if step == '1' %} current-step {% endif %}">
    Start Creation
</p>
<div class="link-between-steps"></div>
<p class="visual-step-title after-point before-point {% if step == '2' %} current-step {% endif %}">
    Description
</p>

<div class="link-between-steps"></div>
<p class="visual-step-title after-point before-point {% if step == '3' %} current-step {% endif %}">
    Infos
</p>

<div class="link-between-steps"></div>

<p class="visual-step-title after-point before-point {% if step == '4' %} current-step {% endif %}">
    Select impacted people
</p>

<div class="link-between-steps"></div>

<p class="visual-step-title after-point before-point {% if step == '5' %} current-step {% endif %}">
    Select experts
</p>

<div class="link-between-steps"></div>

<p class="visual-step-title before-point {% if step == '6' %} current-step {% endif %}">
    Confirmation
</p>


