.link-content-admin {
    color:$blue-dianne;
    cursor:pointer;
    text-decoration: underline;
}
.admin-late-table-header {
    font-weight:400;
    font-family: "Segoe UI", sans-serif;
}
.late-admin-title {
    font-family: "Segoe UI", sans-serif;
    color:RGB(41, 45, 66);
    font-size: 28px;
    font-weight: 700;
}

