.bar-chart {
    width: 65%;
}

.first-chart {
    margin: auto;
    width: 50%;
}

.second-chart {
    width: 79%;
    margin: auto;
}

.labels-for-multiple-chart {
    font-size: .8rem;
    width: 500px;
    flex-wrap: wrap;
    margin-top: 5px;
}

.first-bg-color {
    background: rgb(12, 57, 68);
}

.second-bg-color {
    background: rgb(243, 151, 107);
}

.third-bg-color {
    background: rgb(252,246,160);
}
.fourth-bg-color {
    background: rgb(198,46,67);
}
.fifth-bg-color {
    background: rgb(193,233,78);
}
.sixth-bg-color {
    background: rgb(155,8,79);
}
.label-a-la-mano {
    height: 10px;
    width: 37px;
    margin-left: 5px;
}
