<button type="button" class="add-first-decision" id="toggle-first-decision-input">I am ready to update my decision</button>
<div class="decision-details-post-first-decision hidden" id="add-first-decision-block">
    {{ form_start(formFirstDecision) }}
    {{ form_widget(formFirstDecision) }}
    {{ form_end(formFirstDecision) }}
</div>
