<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center mt-5 py-3 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Makesense, Inc</span>
        </div>

        <ul class="nav col-md-7 justify-content-end list-unstyled d-flex pe-3">
            By
            <li class="ms-3"><a class="text-muted" href="#">Jordan Lasalle</a></li>
            <li class="ms-3"><a class="text-muted" href="#">Killian Portier</a></li>
            <li class="ms-3"><a class="text-muted" href="#">Bixente Laserre</a></li>
            <li class="ms-3"><a class="text-muted" href="#">Julien Bonzom</a></li>
        </ul>
    </footer>
</div>
